.main-head{
    text-align: center;
    color: blue;
}

.base-content {
    width: fit-content;
    margin: auto;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    
}
.navbar ul {
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    
}
 a {
    text-decoration: none;
}

.navbar  a{
    color: white;
    
}