.content-block {
  
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: fit-content; */
  margin: 20px auto;
  /* margin-bottom: 25px; */
  width: 100%;
  
}

.head-block{
  width: 70%;
}

.content-head {
  margin: 0;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-border-default);
  /* box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb),.1); */
}
.content-head svg {
  width: 18px;
  height: 18px;
}

.head-title {
  font-size: 18px;
  margin-left: 8px;
}

.content-body {
  /* padding: 25px; */
  width: 70%;
  background-color: white;
  /* box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb),.1); */
}

.content-body table {
  /* border: 1px solid  #387ed1; */
  /* padding: 0 25px; */
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.content-body table th,
.content-body table td {
  border-bottom: 1px solid var(--color-border-default);
  text-align: left;
  padding: 8px 0;
  font-size: 14px;
}

.content-body table th span {
  color: var(--color-text-1);
  font-weight: 400;
}

.company-head, .company-body {
  width: 100%;
}
/* .company-body table{
  border: 1px solid  #387ed1;
} */
/* .upload-block {

  box-shadow: 0 0 5px 0 rgba(var(--color-border-5--rgb),.1);
} */

.upload-block .upload-msg{
  margin: auto 20px;
}
.upload-msg span{
  display: block;
  text-align: center;
}
.upload-block img {
  display: block;
  margin: 0 auto;
  width: 30%;
  /* border: 1px solid saddlebrown; */
}

.upload-block .upload-btn{
  text-decoration: none;
  margin: 25px auto;
  display: block;
  /* text-align: center; */
  background-color: #387ed1;
  color:white;
  width: fit-content; 
  font-size: 19.2px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 3px;
}

.section-block {
  width: 100%;
  margin-top: -20px;
  background-color: white;
}