.holdings-block {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: fit-content; */
  margin: 0 auto;
  width: 100%;
}

.dashboard-holdings-head {
  margin: 0;
  width: 70%;
  background-color: white;
  /* padding: 15px 0 0 15px; */
  padding: 15px 25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.dashboard-holdings-head svg {
  width: 18px;
  height: 17px;
  /* font-size: 16px; */
}

.dashboard-holdings-title {
  font-size: 18px;
  margin-left: 8px;
}
.holdings-table {
  padding: 0 25px;
  width: 70%;
  background-color: white;
}

.holdings-table table {
  padding: 0 25px;
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.holdings-table table th, .holdings-table table td {
  border-bottom: 1px solid var(--color-border-default);
  text-align: left;
  padding: 8px 0;
  font-size: 14px;
}

.holdings-table table th span {
  color:var(--color-text-1);
  font-weight: 400;
}

.holdings-scrip{
  color: var(--color-text-default);
  text-decoration: none;
}

.holdings-scrip:hover{
  color: var(--color-text-5);
}
.dashboard-holdings-box {
  padding: 15px 0 0 25px;
  width: 70%;
  border-right: 1px solid var(--color-border-default);
  padding-right: 10px;
  background-color: white;
}

.dashboard-holdings-body .holdings-stats-box {
  display: flex;
  align-items: flex-start;

}

.dashboard-holdings-body .holdings-item {
    margin-right: 80px;
    /* background-color: blue; */
    /* align-items: ; */
}

.holdings-text {
    font-size: 12px;
    color: var(--color-text-1);
}


.text-large {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3;
  
}

 .text-small {
  font-size: 14px;
}



.holdings-chart-box .holdings-chart {
  /* border: 1px solid black; */
  width: 100%;
  height: 100px;
}
