.section-holdings {
  width:100%;
  
}

.holdings-block {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: fit-content;
  padding: 20px 40px;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb),.1);
}

.dashboard-holdings-head {
  width: 100%;
  padding: 10px 0px;
  /* margin: 10px 0; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 1px solid var(--color-border-default);
  /* background-color: aqua; */
  
}
.dashboard-holdings-head .title-box {
  width: 280px;

}
.dashboard-holdings-head .select-box {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-box select{
  color: var(--color-text-default);
  /* background-color: saddlebrown; */
  padding: 2px 4px;

}


.select-box select:focus {
  outline: none;
}

.dashboard-holdings-head svg {
  width: 18px;
  height: 17px;
  /* font-size: 16px; */
}

.dashboard-holdings-title {
  font-size: 18px;
  margin-left: 5px;
}
.holdings-table {
  /* padding: 0 25px; */
  width: 100%;
  /* background-color: white; */
  border-top: 1px solid var(--color-border-default);
  border-bottom: 1px solid var(--color-border-default);
}

.holdings-table table {
  /* padding: 0 25px; */
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.holdings-table table th, .holdings-table table td {
  border-bottom: 1px solid var(--color-border-default);
  text-align: left;
  padding: 8px 0;
  font-size: 14px;
}

.holdings-table table th span {
  color:var(--color-text-1);
  font-weight: 400;
}

.holdings-scrip{
  color: var(--color-text-default);
  text-decoration: none;
}

.holdings-scrip:hover{
  color: var(--color-text-5);
}
.dashboard-holdings-box {
  /* padding: 15px 0 0 25px; */
  width:  100%;
  /* background-color: white; */
  margin: 20px 0px;
}

.dashboard-holdings-body .holdings-stats-box {
  display: flex;
  justify-content: space-between;
  /* background-color: blanchedalmond; */
  width: 100%;
  /* align-items: flex-start; */

}

.dashboard-holdings-body .holdings-item {
  width: fit-content;
  /* padding-right: 80px; */
  /* background-color: blue; */
  /* align-items: ; */
}

.holdings-text {
    font-size: 12px;
    color: var(--color-text-1);
}


.text-large {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3;
  
}

 .text-small {
  font-size: 14px;
}



.holdings-chart-box .holdings-chart {
  /* border: 1px solid black; */
  width: 100%;
  /* height: 100px; */
}
