* {
  box-sizing: border-box;
  zoom: 1;
}

body {

  min-width: 320px;
  background-color: var(--color-bg-body);
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text-default);
  font-size: 14px;
  /* font-size: var(--global-font-size);
  line-height: var(--global-line-height);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; */
}



:root {
  --primary-color: #158686;
  --secondary-color: #158644;
  --global-title-size: 24px;
  --global-font-size: 16px;
  --global-line-height: 1.3;
  --color-border-default: #eee;
  --color-text-default: #444;
  --color-bg-body: #f9f9f9;
  --color-text-5: #ff5722;
  --color-border-5--rgb: 0,0,0;
  --color-text-8: #4caf50;
  --color-text-1: #9b9b9b;
}

body,
figure {
  margin: 0;
}
.wrapper-container {
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

}

img {
  max-width: 100%;
}

.site-logo img {
  width: 50px;
  height: auto;
}
.text-medium-large {
  font-size: 23px;
  font-weight: 300;
}
/* global css */
.text-red{
  color: var(--color-text-5);
}
.text-green {
  color: var(--color-text-8);
}

 table th, table td {
  border-bottom: 1px solid var(--color-border-default);
  text-align: left;
  font-size: 14px;
}

 table th span {
  color:var(--color-text-1);
  font-weight: 400;
}


.header {
  background-color: white;
  /* max-height: 80px; */
  /* padding: 0; */
  box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb),.1);
  box-sizing: border-box;
  z-index: 9;
  width: 100%;
  position: sticky;
  top: 0;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* background-color: red; */
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
      justify-content: space-between; */
}

.header .col {
  /* float: left; */
  width: 180px;


}

.header .site-logo{
  display: inline-block;
  margin-left: 35px;
}

.header .col:nth-child(3) {
  /* background-color: crimson; */
  width: calc(100% - 720px);
}

.header .col:nth-child(2){

  width:300px;
}
.header .search-bar{


  margin:  auto;
    
}
.search-bar .search-box {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
}


.search-form {
  height: 100%;
}
.search-input {
  height: 30px;
  width: 300px;
  padding: 3px 8px;
  border-radius: 4px; 
  border: none;
  font-size: 16px;
  border: 1px solid var(--color-text-1);
} 


.search-input:focus{
  outline: none;
  border: 1.5px solid var(--color-text-1);
}

.search-box {
  position: relative;
}

.search-list.active{

  z-index: 999;
  position: absolute;
  margin-top: 5px;
  background-color: white;
  width: 300px;
  /* border-bottom: 1cap solid var(--color-border-default) ; */
  box-shadow: -2px 2px 8px 3px var(--color-border-default);
  border-radius: 5px;
  
  
}

.search-list.active a {
  display: block;
  /* background-color: white; */
  color: var(--color-text-default);
  text-decoration: none;
  font-size: 15px;
  padding: 7px 10px;
  /* border-radius: 2px; */
  border-bottom: 1px solid var(--color-border-default);
}

.main-nav {
  /* display: flex; */
  align-items: center;
  /* width: 100%; */
}

.main-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.main-nav li {
  display: inline-block;
}

.main-nav a {
  color: var(--color-text-default);
  display: inline-block;
  text-decoration: none;
  padding: 24px 12px;
  font-size: 14px; /* 21/19 */
  /* text-transform: uppercase; */
  transition: 0.3s;
}

.main-nav a:hover {
    /* transform: translateY(-3px); */
    color:var(--color-text-5);
    /* text-decoration: underline; */
  }

.profile-col {
  position: relative;
}

.profile-options{
  display: none;
  position: absolute;
  margin-top: 5px;
  background-color: white;
  width: fit-content;
  padding: 10px;
  box-shadow: -2px 2px 8px 3px var(--color-border-default);
  /* border-radius: 5px; */
  
}

.profile-options a {
  display: block;
  /* background-color: white; */
  color: var(--color-text-default);
  text-decoration: none;
  font-size: 14px;
  padding: 5px 5px;
  border-bottom: 1px solid var(--color-border-default);
}

.profile-options a:hover {
  background-color: var(--color-bg-body);
  color: var(--color-text-5);
}
.profile-col .profile__inner{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--color-text-default);
  
}   
.profile__inner svg {
  /* color: var(--color-text-5); */
  width: 14px;
  height: 14px;
}

.profile__inner .profile-text {
  text-decoration: none;
  font-size: 14px;
  margin-left: 5px;
  color:var(--color-text-default);
}
/* .profile-text:visited{
  color: var(--color-text-default);
} */

.profile__inner:hover .profile-text, .profile__inner:hover svg {
  /* transform: translateY(-3px); */
  color:var(--color-text-5);
  /* text-decoration: underline; */
}

/* index main content starts from here */
.main-content{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
}
.main-content img {
  display: block;
  
  margin: 0;
  box-shadow: 0 2px 8px 0 rgba(var(--color-border-5--rgb),.1);
}
.img-collage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.img-collage .dash-img{
  
  max-width: 400px;
}

.img-collage .account-img, .company-img {
  max-width: 150px;
  height: fit-content;
}

.company-img{
  max-width: 250px;
}

.main-title {
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
.subtext {
  display: block;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 10px 0px 20px;
}

/* .alink {
  display: flex;
  justify-content: center ;
  align-items: center;
  background-color: #158644;
  margin-top: 25px;
} */
 .main-link {
  text-decoration: none;
  margin: 25px auto;
  display: block;
  /* text-align: center; */
  background-color: #387ed1;
  color:white;
  width: fit-content; 
  font-size: 19.2px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 3px;
}