
.title {
  font-size: var(--global-font-size);
  margin-left: 10px;
}

.dashboard-section {
  background-color: white;
}
.dashboard-section .greet-textbox {
  margin: 0;
  padding: 10px;
  /* margin-bottom: 5px; */
  padding-top: 35px;
  padding-bottom: 15px;
  color: var(--color-text-default);
  border-bottom: 1px solid var(--color-border-default);
}

.greet-textbox {
  background-color: white;
}
.greet-textbox .greet-big-title {
  /* padding-left: 10px; */
  /* padding-top: 20px; */
  font-size: var(--global-title-size);
  /* font-weight: 100; */
  margin: 0;
}

.dashboard-sector-instrument-box {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-border-default);
}

.dashboard-sector-head svg,
.dashboard-instrument-head svg {
  /* color: white; */
  width: 16px;
  height: 15px;
}



.dashboard-sector-head,
.dashboard-instrument-head {
    /* border: 1px solid black; */
  margin: 0;
  padding: 0 0 0 25px;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* max-width: fit-content; */
  /* border-bottom: 1px solid var(--color-border-default);
  border-top: 1px solid var(--color-border-default); */
}

.dashboard-sector-title,
.dashboard-instrument-title {
  margin-left: 8px;
}


/* .dashboard-sector-body {
    border-bottom: 1px solid var(--color-border-default);
} */
/* 
  
  
  #sectorChart{
    border: 5px solid black;
  } */

/* .dashboard-instrument-body #instrumentChart {
    width: 100%;
  } */
.dashboard__left {
  border-right: 0.5px solid var(--color-border-default);
  margin: 0;
  width: 100%;
}
.dashboard__right {
  border-left: 0.5px solid var(--color-border-default);
  margin: 0;
  width: 100%;
}

.dashboard-holds-recent {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 0;
  /* padding: 15px 0 0 15px; */
  border-bottom: 1px solid var(--color-border-default);
}

.dashboard-holdings-head svg,
.dashboard-recent-head svg {
  width: 16px;
  height: 15px;
  /* font-size: 16px; */
}
.dashboard-recent-head svg {
  width: 16px;
  height: 13px;
  /* font-size: 16px; */
}





.dashboard-holdings-head,
.dashboard-recent-head {
  margin: 0;
  background-color: White;
  /* padding: 15px 0 0 15px; */
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.dashboard-holdings-title,
.dashboard-recent-title {
  /* text-align: start; */
  margin-left: 8px;
}

.dashboard-holdings-body .holdings-stats-box{
  display: flex;
  align-items: center;
  
}
.dashboard-holdings-body .holdings-divider{
  margin-left: 30px;
  border-left: 1px solid var(--color-border-default);
  padding-left: 30px;
 
}
.holdings-divider .holdings-item {
  margin-bottom: 15px;
}
.holdings-divider .holdings-text{
  display: inline-block;
  width: 100px;
}
.holdings-text {
  color: var(--color-text-1);
}
.holdings-item-value.profit{
  /* display: block; */
  font-weight: 100;
  line-height: 1.3;
  color: var(--color-text-8);
}

.holdings-item-value.profit .text-large{
  font-size: 42px;
  font-weight: 300;
}

.holdings-item-value.profit .text-small{
  font-size: 12px;
  
}
.dashboard-holdings-box {
  padding: 15px 0 0 25px;
  width: 50%;
  border-right: 1px solid var(--color-border-default);
  padding-right: 10px;
}

.holdings-chart-box .holdings-chart{
  /* border: 1px solid black; */
  width: 100%;
  height: 100px;
}

.dashboard-recent-box {
  padding: 0px 0 0 25px;
  width: 50%;

  /* background-color: greenyellow; */
}

.dashboard-recent-body {
  
  background-color: white;
}
.dashboard-recent-box table {
  width: 100%;
  font-size: 1rem;
  border-collapse: collapse;
}
.dashboard-recent-box table th {
  border: 1px solid var(--color-border-default);
  font-size: 14px;
  border-left: none;

  color:var(--color-text-1);
}
.dashboard-recent-box table td {
  border: 1px solid var(--color-border-default);
  border-left: none;


  /* border-top: 2px solid var(--color-border-default); */
}

.dashboard-recent-box .text-red{
  color: var(--color-text-5);
}
.dashboard-recent-box .text-green {
  color: var(--color-text-8);
}

.recent-table .head .row span{
  font-weight: 400;
  

}

.dashboard-recent-box table th, .dashboard-recent-box table td {
  text-align: left;
  padding: 8px 0;
  padding-left: 10px;
  
}