
.title {
  font-size: var(--global-font-size);
  margin-left: 10px;
}

.dashboard-section {
  background-color: white;
}
.dashboard-section .greet-textbox {
  margin: 0;
  padding: 10px;
  /* margin-bottom: 5px; */
  padding-top: 35px;
  padding-bottom: 15px;
  color: var(--color-text-default);
  border-bottom: 1px solid var(--color-border-default);
}

.greet-textbox {
  background-color: white;
}
.greet-textbox .greet-big-title {
  /* padding-left: 10px; */
  /* padding-top: 20px; */
  font-size: var(--global-title-size);
  font-weight: 400;
  margin: 0;
}

.dashboard-sector-instrument-box {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-border-default);
}

.dashboard__left {
  border-right: 0.5px solid var(--color-border-default);
  margin: 0;
  width: 50%;
}
.dashboard__right {
  border-left: 0.5px solid var(--color-border-default);
  margin: 0;
  width: 50%;
}
.dashboard-instrument-body, .dashboard-sector-body{
  padding-left: 25px;
}

.dashboard-sector-head svg,
.dashboard-instrument-head svg {
  /* color: white; */
  width: 16px;
  height: 15px;
}


.dashboard-sector-head,
.dashboard-instrument-head {
    /* border: 1px solid black; */
  margin: 0;
  padding: 0 0 0 25px;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* max-width: fit-content; */
  /* border-bottom: 1px solid var(--color-border-default);
  border-top: 1px solid var(--color-border-default); */
}

.dashboard-sector-title,
.dashboard-instrument-title {
  margin-left: 8px;
}

.dashboard-instrument-body{
  /* background-color: blue; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: 100%;
}

.instrument-stats {
  margin-bottom: 20px;
  margin-left: 22px;
}

.instrument-item .instrument-item-text{
  display: inline-block;
  width: 100px;
  color: var(--color-text-1);
}


.dashboard-holds-recent {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 0;
  /* padding: 15px 0 0 15px; */
  border-bottom: 1px solid var(--color-border-default);
}


.dashboard-holdings-box {
  padding: 0px 0 0 25px;
  width: 50%;
  border-right: 1px solid var(--color-border-default);
  padding-right: 10px;
}
.dashboard-recent-box {
  padding: 0 25px;
  width: 50%;

  /* background-color: greenyellow; */
}

.dashboard-holdings-head svg,
.dashboard-recent-head svg , .dashboard-portfolio-head svg{
  width: 16px;
  height: 15px;
  /* font-size: 16px; */
}



.dashboard-holdings-head,
.dashboard-recent-head {
  margin: 0;
  background-color: White;
  /* padding: 15px 0 0 15px; */
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.dashboard-holdings-title,
.dashboard-recent-title {
  /* text-align: start; */
  margin-left: 8px;
}

.dashboard-holdings-title a,
.dashboard-recent-title a {
  color: var(--color-text-default);
  text-decoration: none;
}

.dashboard-holdings-body .holdings-stats-box{
  display: flex;
  width: 100%;
  align-items: center;
  
}
.dashboard-holdings-body .holdings-divider{
  margin-left: 50px;
  border-left: 1px solid var(--color-border-default);
  padding-left: 50px;
 
}
.holdings-divider .holdings-item {
  margin-bottom: 15px;
}
.holdings-text{
  display: inline-block;
  width: 100px;
  color: var(--color-text-1);
}

.holdings-item-value.profit{
  /* display: block; */
  font-weight: 100;
  line-height: 1.3;
  color: var(--color-text-8);
}
.text-large{
  font-size: 42px;
  font-weight: 300;
}

.holdings-item-value.profit .text-large{
  font-size: 42px;
  font-weight: 300;
}

.holdings-item-value.profit .text-small{
  font-size: 12px;
  
}


.holdings-chart-box .holdings-chart{
  /* border: 1px solid black; */
  width: 100%;
  height: 100px;
  
}



.dashboard-recent-body {
  
  background-color: white;
}

.dashboard-recent-body a{
  color: var(--color-text-default);

}

.dashboard-recent-box table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-recent-box table th, .dashboard-recent-box table td {
  border-bottom: 1px solid var(--color-border-default);
  text-align: left;
  padding: 8px 0;
  font-size: 14px;
}

.dashboard-recent-box table th span {
  color:var(--color-text-1);
  font-weight: 400;
}
.dashboard-portfolio-summary {
  margin: 0 auto;
  /* margin-top: 20px; */
  padding: 20px 0;
  
  border-bottom: 1px solid var(--color-border-default);
  /* box-shadow: 0 0 5px 0 rgba(var(--color-border-5--rgb),.1); */

}

.dashboard-portfolio-box {
  margin-left: 20px;
  margin-bottom:  40px;
}

.dashboard-portfolio-head {
  margin-bottom: 20px;
}
.dashboard-portfolio-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  
  /* background-color: aqua; */
}


.dashboard-portfolio-body .portfolio-stats-box {
  display: flex;
  align-items: center;
  width:50%;
  
}

.dashboard-portfolio-body .portfolio-stats-box:first-child {
  /* border-right: 1px solid var(--color-border-default); */
  padding-left: 25px;
  /* margin-right: 100px; */
}

.dashboard-portfolio-body .portfolio-stats-box:nth-child(2){
  padding-left: 45px;
}

.portfolio-stats-box .divider{
  margin-left: 30px;
  border-left: 1px solid var(--color-border-default);
  padding-left: 30px;
 
}


.divider .portfolio-item {
  margin-bottom: 15px;
}

.portfolio-text{
  display: inline-block;
  width: 100px;
  color: var(--color-text-1);
}