.portfolio{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.portfolio-section {
    /* background-color: red; */
    width: 600px;
    
}

.history-section {
    /* background-color: green; */
    width: 700px;
}

.dashboard-block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 1px solid green; */
}
.dashboard-sector-block, .dashboard-instrument-block{

    border: 1px solid green;

}