{% extends "base.html" %}
 {% block title %} Dashboard {% endblock %}
 {% block content %}

    <h2>{{ username }}'s Portfolio</h2>

    {% if not transaction%}
    {{ msg }}
    <h3>Oops, No transaction available!!</h3>


    {% else %}

      <a href="{{ url_for('auth.logout')}}">Logout</a>
  
    <table>
      {{ msg }}
      <tr>
        <th>SN</th>
        <th>Scrip</th>
        <th>Balance</th>
        <th>Last Price</th>
        <th>Value as of LTP</th>
      </tr>
      
      
      
      {% for item in transaction%}
      
      <tr> 
          <td>{{ loop.index }}</td>
        {% for scrip, balance, price in item %}
          <td>{{ scrip }}</td>
          <td>{{ balance }}</td>
          <td>{{ price }}</td>
          {% set value =  price * balance %}
          <td>{{ '%0.2f'| format(value|float)}}</td>
          
        {% endfor %}
      
    </tr>
      {% endfor %}
      <tr>
        <td colspan="4">Total</td>
        <td>{{total}}</td>
      </tr>
      
      
    </table>
    
    {% endif %}
    
    <a href="{{ url_for('views.upload')}}">Upload transaction file</a>
    <a href="{{ url_for('views.show_data')}}">Show CSV</a>
    
{% endblock %}   
