{% extends "base.html" %}
 {% block title %} Dashboard {% endblock %}
 {% block content %}
  <div class="portofio-section">

    <h2>{{ username }}'s Portfolio</h2>

    {% if not transaction%}
    {{ msg }}
    <h3>Oops, No transaction available!!</h3>


    {% else %}

      <a href="auth/logout">Logout</a>
  
    <table>
      {{ msg }}
      <tr>
        <th>SN</th>
        <th>Scrip</th>
        <th>Balance</th>
        <th>Last Price</th>
        <th>Value as of LTP</th>
      </tr>
      
      
      
      {% for item in transaction%}
      
      <tr> 
          <td>{{ loop.index }}</td>
        {% for scrip, balance, price in item %}
          <td>{{ scrip }}</td>
          <td>{{ balance }}</td>
          <td>{{ price }}</td>
          {% set value =  price * balance %}
          <td>{{ '%0.2f'| format(value|float)}}</td>
          
        {% endfor %}
      
    </tr>
      {% endfor %}
      <tr>
        <td colspan="4">Total</td>
        <td>{{total}}</td>
      </tr>
      
      
    </table>
    
    {% endif %}

  </div>

  <div class="history-section">

    <h2>{{ username }}'s recent history</h2>
    <table>
      
    </table>

    <a href="/show_history/">Show all history</a>
  </div>
    <a href="">Upload transaction file</a>
    <a href="">Show CSV</a>
    
{% endblock %}   
