{% extends "index.html" %} 
{% block title %}Transactions history {% endblock %} 
{% block link %} <link href="../static/css/history.css" rel="stylesheet" /> {% endblock %}
{% block content %}
<section class="section-block">
  <div class="wrapper-container">

    {% if not all_transactions%}
    <div class="upload-block">
      <img src="../static/images/data-report.png" alt="upload-img">
      <!-- <img src="../static/images/upload-lady.jpg" alt="upload-img"> -->

      <div class="upload-msg">
        <span class="text-medium-large">Looks like you haven't uploaded transactions data!</span>
        <!-- <span>Let's Upload</span>  -->
        <!-- <span>Oops! Can't find the transactions!</span> -->
        <a href="/transactions/upload" class="upload-btn">Upload to continue!</a>
      </div>
      
    </div>
    {%else%}
      <div class="content-block">
        <div class="head-block">
          <div class="content-head">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M535 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l64 64c4.5 4.5 7 10.6 7 17s-2.5 12.5-7 17l-64 64c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l23-23L384 112c-13.3 0-24-10.7-24-24s10.7-24 24-24l174.1 0L535 41zM105 377l-23 23L256 400c13.3 0 24 10.7 24 24s-10.7 24-24 24L81.9 448l23 23c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L7 441c-4.5-4.5-7-10.6-7-17s2.5-12.5 7-17l64-64c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM96 64H337.9c-3.7 7.2-5.9 15.3-5.9 24c0 28.7 23.3 52 52 52l117.4 0c-4 17 .6 35.5 13.8 48.8c20.3 20.3 53.2 20.3 73.5 0L608 169.5V384c0 35.3-28.7 64-64 64H302.1c3.7-7.2 5.9-15.3 5.9-24c0-28.7-23.3-52-52-52l-117.4 0c4-17-.6-35.5-13.8-48.8c-20.3-20.3-53.2-20.3-73.5 0L32 342.5V128c0-35.3 28.7-64 64-64zm64 64H96v64c35.3 0 64-28.7 64-64zM544 320c-35.3 0-64 28.7-64 64h64V320zM320 352a96 96 0 1 0 0-192 96 96 0 1 0 0 192z"
                fill="currentColor"
              />
            </svg>
            <span class="head-title">Transactions history</span>
          </div>

          <!-- <div class="add-delete">
            <a href="/transactions/add"> Add</a>
          </div> -->
          
        </div>
        
        <div class="content-body">
          <table class="table">
            <tr class="table-head">
              <th class="cols"><span>SN</span></th>
              <th class="cols"><span>Scrip</span></th>
              <th class="cols"><span>Quantity</span></th>
              <th class="cols"><span>Unit Price</span></th>
              <th class="cols"><span>Date</span></th>
              <th class="cols"><span>Details</span></th>
            </tr>
        
            {% for item in all_transactions%}
            <tr class="table-row">
                {% set quantity = item['credit_quantity']-item['debit_quantity'] %}
              
                <td class="cols"><span>{{loop.index}}</span></td>
                
                <td class="cols"><span>{{item['scrip']}}</span></td>
                
                {% if quantity > 0 %}
                <td class="cols"><span class="text-green">{{quantity|abs}}</span></td>
                {% else %}
                <td class="cols"><span class="text-red">{{quantity|abs}}</span></td>
                {% endif%}
                <td class="cols"><span>{{item['unit_price']}}</span></td>
                <td class="cols"><span>{{item['transaction_date']}}</span></td>
                <td class="cols"><span>{{item['history_description']}}</span></td>
                <!-- <td class="cols"><a href="/transactions/delete?id={{item['tid']}}">Delete</a></span></td> -->
                
              </tr>
              {% endfor%}
        
            
          </table>
        </div>
      </div>
    {%endif%}
    
  </div>
</section>

{% endblock%}