{% extends "base.html" %}
 {% block title %} Dashboard {% endblock %}
 {% block cssLink%}<link href="../static/css/portfolio.css" rel="stylesheet" /> {% endblock %}
 {% block content %}


 <div class="company-search">
  <form method="post">
    <input type="text" name="company" id="company">
  </form>
  <div id="result"></div>
  
 </div>

  
  <div class="holdings-section">

    <h2> Holdings ({{ holdings|length }})</h2>

    {% if not holdings%}
    {{ msg }}
    <h3>Oops, No holdings available!!</h3>


    {% else %}
  
    <table>
      {{ msg }}
      <tr>
        <!-- <th>SN</th> -->
        <th>Scrip</th>
        <th>Qty</th>
        <th>LTP</th>
        <th>P&L</th>
        <th>Net change</th>
        <th>Current Value</th>
      </tr>
      
      
      
      {% for row in holdings%}
      
      <tr class="portfolio-item"> 
        <!-- <td>{{ loop.index }}</td> -->
        <td>{{row['stockSymbol']}}</a></td>
        <td>{{row['balance']}}</td>
        <td>{{row['previous_price']}}</td>
        <td>{{row['difference_rs']}}</td>
        <td>{{row['percent_change']}}%</td>
        <td>{{row['closing_price']}}</td>
        
      </tr>
      {% endfor %}

     
      
      
      
    </table>

    {% for item in holdings_summary%}
    <div>Investment Value: {{item['invest_value']}}</div> 
    <div>Current Value: {{item['current_value']}} </div>
    <span>Today's P&L: {{ item['today_profit_loss']}}</span>
    <span></span>{{item['today_PL_percent']}} %</span>
    <div>
      <span>Total Profit & Loss: {{item['profit_loss']}} </span>
      <span>{{item['profit_loss_percent']}} %</span>
    </div>
    {% endfor %}
    
    {% endif %}


  </div>

  </div>
  </section>
  
{% endblock %}   
