{% extends "base.html" %}
 {% block title %} Dashboard {% endblock %}
 {% block cssLink%}<link href="../static/css/portfolio.css" rel="stylesheet" /> {% endblock %}
 {% block content %}


 <div class="company-search">
  <form method="post">
    <input type="text" name="company" id="company">
  </form>
  <div id="result"></div>
  
 </div>

  
  <div class="holdings-section">

    <h2> Holdings ({{ holdings|length }})</h2>

    {% if not holdings%}
    {{ msg }}
    <h3>Oops, No holdings available!!</h3>


    {% else %}
  
    <table>
      {{ msg }}
      <tr>
        <th>SN</th>
        <th>Scrip</th>
        <th>Balance</th>
        <th>Previous closing</th>
        <th>Points change</th>
        <th>Percent change</th>
        <th>Closing Price</th>
      </tr>
      
      
      
      {% for row in holdings%}
      
      <tr class="portfolio-item"> 
        <td>{{ loop.index }}</td>
        <td>{{row['stockSymbol']}}</a></td>
        <td>{{row['balance']}}</td>
        <td>{{row['previous_price']}}</td>
        <td>{{row['difference_rs']}}</td>
        <td>{{row['percent_change']}}</td>
        <td>{{row['closing_price']}}</td>
        
      </tr>
      {% endfor %}

     
      
      
      
    </table>
    
    {% endif %}


  </div>

    <a href="/all_transactions/">Show All</a>
  </div>
  </section>
  
{% endblock %}   
