<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Portfolio Tracker</title>

    <!-- base-css -->
    <link href="../static/css/style.css" rel="stylesheet" />

    <!-- specific-css -->
    <link href="../static/css/portfolio.css" rel="stylesheet" />

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />

    <!--jquery.min.js -->
    <script src="../static/js/jquery.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="/" class="col site-logo" title="Stock Portfolio Tracker">
          <img src="../static/images/console.svg" alt="logo" />
        </a>
        <nav class="col main-nav">
          <span class="menu-bar">
            <span></span>
          </span>
          <ul id="navigation" class="menu">
            <li><a href="">Dashboard</a></li>
            <li><a href="">Holdings</a></li>
            <li><a href="">History</a></li>
            <li><a href="">Companies</a></li>
            <li><a href="">Stock Prices</a></li>
          </ul>
        </nav>
        <div class="col">
          <div class="profile" title="profile">
            <span class="profile__inner">
                <svg></svg>
                <a href="#" class="profile-text">Username</a>
            </span>
          </div>
        </div>
      </div>
    </header>
    <section class="dashboard-section">
        <div class="warning-msg">

        </div>
        <header class="greet-textbox">
            <h1 class="greet-title">Hi, Username</h1>
        </header>
        <div class="dashboard-sector-instrument-box">
            <div class="dashboard-sector__left">
                <div class="dashboard-sector-head">
                    <span class="sector-icon">

                    </span>
                    <span class="dashboard-sector-title">
    
                    </span>
                </div>
               <div class="dashborad-sector-body">
                
               </div>
            </div>
            <div class="dashboard-sector__right">
                <div class="dashboard-sector-head">
                    <span class="sector-icon">

                    </span>
                    <span class="dashboard-sector-title">
    
                    </span>
                </div>
               <div class="dashborad-sector-body">

               </div>
            </div>
        </div>
        <div class="dashboard-holdings-box">
            <div class="dashboard-holdings-head">
                <span class="holdings-icon">

                </span>
                <span class="dashboard-holdings-title">

                </span>
            </div>
           <div class="dashborad-holdings-body">
            
           </div>

        </div>
        <div class="dashboard-recent-box">

        </div>
        
        <footer class="footer">

        </footer>

    </section>
  </body>
</html>
