{% extends "index.html" %} 
{% block title %}Login {% endblock %} 
{% block link %}<link rel="stylesheet" href="../static/css/login-sign.css">{% endblock %}
{% block content%}

<div class="form-container">
  <h2 class="form-title">Login</h2>

  <span class="error">{{ msg }}</span>
  
  <form action="/auth/login" method="post">
    <div class="form-group">
      <label>Email </label>
      <input type="text" name="email" class="form-control" />
    </div>
    
    <div class="form-group">
      <label>Password </label>
      <input type="password" name="password"  class="form-control"/>
    </div>
    
    <button type="submit" class="btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
