{% extends "index.html" %} 
{% block title %} Dashboard {% endblock %} 
{% block link %} <link href="../static/css/portfolio.css" rel="stylesheet" /> {% endblock %}
{% block content %}

<section class="dashboard-section">
  <div class="wrapper-container">
    
    {% if flag %}
    <div class="upload-block">
      <img src="../static/images/data-report.png" alt="upload-img">
      <!-- <img src="../static/images/upload-lady.jpg" alt="upload-img"> -->

      <div class="upload-msg">
        <span class="text-medium-large">Looks like you haven't uploaded transactions data!</span>
        <!-- <span>Let's Upload</span>  -->
        <!-- <span>Oops! Can't find the transactions!</span> -->
        <a href="/transactions/upload" class="upload-btn">Upload to continue!</a>
      </div>
      
    </div>
    {% else %}
    <header class="greet-textbox">
      <h1 class="greet-big-title">
        Hi, <span id="nickname">{{username}}</span>
      </h1>
    </header>
    <div class="dashboard-portfolio-summary">
      <div class="dashboard-portfolio-box">
        <div class="dashboard-portfolio-head">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z" fill="currentColor"/>
          </svg>
          <span class="dashboard-portfolio-title title">Portfolio Summary</span>
        </div>
        <div class="dashboard-portfolio-body">
          <div class="portfolio-stats-box">
            <div class="portfolio-item">
            
              <div class="portfolio-item-value profit">
                {% if portfolio_summary['total_profit_loss'] > 0 %}
                <span class="text-large text-green">{{portfolio_summary['total_profit_loss']}}</span>
                <span class="text-small text-green">{{portfolio_summary['total_profit_loss_percent']}}%</span>
                {% else%}
                <span class="text-large text-red">{{portfolio_summary['total_profit_loss']}}</span>
                <span class="text-small text-red">{{portfolio_summary['total_profit_loss_percent']}}%</span>
                {% endif%}
              </div>
              <span class="portfolio-text"> Overall P&L</span>
            </div> 
            <div class="divider">
              <div class="portfolio-item">
                <span class="portfolio-text">Sold value</span>
                <span class="portfolio-item-value">{{portfolio_summary['total_sold_value']}}</span>
              </div> 
              <div class="portfolio-item">
                <span class="portfolio-text">Investment</span>
                <span class="portfolio-item-value">{{portfolio_summary['total_invest_value']}}</span>
              </div> 
            </div>
            
    
            
          </div>
          
          <div class="portfolio-stats-box">
            <div class="portfolio-item">
            
              <div class="portfolio-item-value profit">
               
                <span class="text-large text-green">{{portfolio_summary['total_balance_quantity']}}</span>
                <span class="text-small text-green">{{portfolio_summary['total_balance_percent']}}%</span>
              
              </div>
              <span class="holdings-text">Available unit</span>
            </div> 
            <div class="divider">
              <div class="portfolio-item">
                <span class="portfolio-text">Sold unit</span>
                <span class="portfolio-item-value">{{portfolio_summary['total_debit_quantity']}} unit(s)</span>
              </div> 
              <div class="portfolio-item">
                <span class="portfolio-text">Total unit</span>
                <span class="portfolio-item-value">{{portfolio_summary['total_credit_quantity']}} unit(s)</span>
              </div> 

            </div>
           
    
            
          </div>
         
        </div>
      
      </div>
    </div>
    
    <div class="dashboard-sector-instrument-box">
      <div class="dashboard__left">
        <div class="dashboard-sector-head">
          
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M304 240V16.6c0-9 7-16.6 16-16.6C443.7 0 544 100.3 544 224c0 9-7.6 16-16.6 16H304zM32 272C32 150.7 122.1 50.3 239 34.3c9.2-1.3 17 6.1 17 15.4V288L412.5 444.5c6.7 6.7 6.2 17.7-1.5 23.1C371.8 495.6 323.8 512 272 512C139.5 512 32 404.6 32 272zm526.4 16c9.3 0 16.6 7.8 15.4 17c-7.7 55.9-34.6 105.6-73.9 142.3c-6 5.6-15.4 5.2-21.2-.7L320 288H558.4z"
                fill="currentColor"
              />
            </svg>
         
          <span class="dashboard-sector-title title">Sector-wise </span>
        </div>
        <div class="dashboard-sector-body">

        <!-- {% for item in sector_summary %}
        <div>
          <span>{{ item['sector'] }} ({{ item['no_of_scrip'] }})</span>
          <span>{{ item['total_value'] }}</span>
        </div>
          
        {% endfor %} -->
          <canvas id="sectorChart" style="width:100%;max-width:700px"></canvas>
        </div>
      </div>
      <div class="dashboard__right">
        <div class="dashboard-instrument-head">
          
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"
                fill="currentColor"
              />
            </svg>
          
          <span class="dashboard-instrument-title title"> Instrument </span>
        </div>
        <div class="dashboard-instrument-body">
          <!-- <div
            id="instrumentChart"
            style="max-width: 100%; height: 250px"
          ></div> -->
          {% for item in instrument_summary %}

            
            <div class="instrument-stats">
              <div><span class="text-medium-large">{{ item['instrument'] }}</span></div>
              <div class="instrument-item">
                <span class="instrument-item-text">No. of scrip</span>
                <span class="instrument-item-value">{{ item['no_of_scrip'] }}</span>
              </div> 
              <div class="instrument-item">
                <span class="instrument-item-text">Current value</span>
                <span class="instrument-item-value">{{ item['total_value'] }}</span>
              </div> 
            </div>
            
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="dashboard-holds-recent">
      <div class="dashboard-holdings-box">
        <div class="dashboard-holdings-head">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
           
              <path
                d="M176 56V96H336V56c0-4.4-3.6-8-8-8H184c-4.4 0-8 3.6-8 8zM128 96V56c0-30.9 25.1-56 56-56H328c30.9 0 56 25.1 56 56V96v32V480H128V128 96zM64 96H96V480H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64zM448 480H416V96h32c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64z"
                fill="currentColor"
              />
            </svg>
          <span class="dashboard-holdings-title title"><a href="/transactions/holdings">Holdings ({{holdings_length}})</a></span>
        </div>
        <div class="dashboard-holdings-body">
          
            
          {% set invest_value =  holdings_summary['avg_invest_value']%}
          {% set current_value =   holdings_summary['current_value']%}
          {% set today_profit_loss =   holdings_summary['today_profit_loss']%}
          {% set total_profit_loss =   holdings_summary['total_profit_loss'] %}
          {% set total_profit_loss_percent = holdings_summary['total_profit_loss_percent'] %}

          <div class="holdings-stats-box">
            <div class="holdings-item">
            
              <div class="holdings-item-value profit">
                {% if total_profit_loss > 0 %}
                <span class="text-large text-green">{{total_profit_loss}}</span>
                <span class="text-small text-green">{{total_profit_loss_percent}}%</span>
                {% else%}
                <span class="text-large text-red">{{total_profit_loss|abs}}</span>
                <span class="text-small text-red">{{total_profit_loss_percent}}%</span>
                {% endif%}
              </div>
              <span class="holdings-text">P&L</span>
            </div> 
            <div class="holdings-divider">
              <div class="holdings-item">
                <span class="holdings-text">Current value</span>
                <span class="holdings-item-value">{{current_value}}</span>
              </div> 
            <div class="holdings-item">
              <span class="holdings-text">Investment</span>
              <span class="holdings-item-value">{{invest_value}}</span>
            </div> 
  
            </div>
          </div>
          <div class="holdings-chart-box">
            <div class="holdings-chart">
              <div class="investment-box"></div>
              <div class="profit-box"></div>
              <div class="current-box"></div>

            </div>
          </div>
         
        </div>
      
      </div>
      <div class="dashboard-recent-box">
        <div class="dashboard-recent-head">
          
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path
                d="M535 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l64 64c4.5 4.5 7 10.6 7 17s-2.5 12.5-7 17l-64 64c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l23-23L384 112c-13.3 0-24-10.7-24-24s10.7-24 24-24l174.1 0L535 41zM105 377l-23 23L256 400c13.3 0 24 10.7 24 24s-10.7 24-24 24L81.9 448l23 23c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L7 441c-4.5-4.5-7-10.6-7-17s2.5-12.5 7-17l64-64c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM96 64H337.9c-3.7 7.2-5.9 15.3-5.9 24c0 28.7 23.3 52 52 52l117.4 0c-4 17 .6 35.5 13.8 48.8c20.3 20.3 53.2 20.3 73.5 0L608 169.5V384c0 35.3-28.7 64-64 64H302.1c3.7-7.2 5.9-15.3 5.9-24c0-28.7-23.3-52-52-52l-117.4 0c4-17-.6-35.5-13.8-48.8c-20.3-20.3-53.2-20.3-73.5 0L32 342.5V128c0-35.3 28.7-64 64-64zm64 64H96v64c35.3 0 64-28.7 64-64zM544 320c-35.3 0-64 28.7-64 64h64V320zM320 352a96 96 0 1 0 0-192 96 96 0 1 0 0 192z"
                fill="currentColor"
              />
            </svg>
          
          <span class="dashboard-recent-title title"> <a href="/transactions/all">Recent transactions</a></span>
        </div>

        <div class="dashboard-recent-body">
          <table class="table">
            <tr class="table-head">
              <th class="cols"><span>Scrip</span></th>
              <th class="cols"><span>Quantity</span></th>
              <th class="cols"><span>Unit Price</span></th>
              <th class="cols"><span>Date</span></th>
            </tr>

            {% for item in recent_transactions%}
            <tr class="tbody">
              {% set quantity = item['credit_quantity']-item['debit_quantity'] %}
             
              
              <td class="cols"><a href="company/{{item['scrip']}}">{{item['scrip']}}</a></td>
              
              {% if quantity > 0 %}
              <td class="cols"><span class="text-green">{{quantity|abs}}</span></td>
              {% else %}
              <td class="cols"><span class="text-red">{{quantity|abs}}</span></td>
              {% endif%}
              <td class="cols">{{item['unit_price']}}</td>
              <td class="cols">{{item['transaction_date']}}</td>
              
            </tr>
            {% endfor%}
            
          </table>
          <a href="/transactions/all" class="view-btn">View all</a>
        </div>
      </div>
    </div>
    
    {% endif %}
    
  </div>
</section>

<script src="../static/js/script.js"></script>
<script src="../static/js/chart.js"></script>

{% endblock %}
