{% extends "base.html" %}
 {% block title %} Dashboard {% endblock %}
 {% block cssLink%}<link href="../static/portfolio.css" rel="stylesheet" /> {% endblock %}
 {% block content %}

 
  <section class="portfolio">

  
  <div class="portfolio-section">

    <h2> Portfolio</h2>

    {% if not transactions%}
    {{ msg }}
    <h3>Oops, No transaction available!!</h3>


    {% else %}
  
    <table>
      {{ msg }}
      <tr>
        <th>SN</th>
        <th>Scrip</th>
        <th>Balance</th>
        <th>Previous closing</th>
        <th>Points change</th>
        <th>Percent change</th>
        <th>Closing Price</th>
      </tr>
      
      
      
      {% for row in transactions%}
      
      <tr class="portfolio-item"> 
        <td>{{ loop.index }}</td>
        <td>{{row['stockSymbol']}}</a></td>
        <td>{{row['balance']}}</td>
        <td>{{row['previous_price']}}</td>
        <td>{{row['difference_rs']}}</td>
        <td>{{row['percent_change']}}</td>
        <td>{{row['closing_price']}}</td>
        
      </tr>
      {% endfor %}

     
      
      
      
    </table>
    
    {% endif %}


  </div>

  <div class="history-section">

    <h3> Recent transactions</h3>
    <table>
      <tr>
        <!-- <th>SN</th> -->
        <th>Date</th>
        <th>Scrip</th>
        <th>Credit quantity</th>
        <th>Debit quantity</th>
        <th>Remarks</th>
    </tr>

    {% for item in recent_transactions%}
  
    <tr> 
        <!-- <td>{{ loop.index }}</td> -->
        <td>{{item[1]}}</td>
        <td>{{item[0]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[5]}}</td>
    
    </tr>
   
    {% endfor%}
      
    </table>

    <a href="/all_transactions/">Show All</a>
  </div>
  </section>
  
{% endblock %}   
