{% extends "base.html" %}
 {% block title %} Dashboard {% endblock %}
 {% block cssLink%}<link href="../static/css/portfolio.css" rel="stylesheet" /> {% endblock %}
 {% block content %}


 <div class="company-search">
  <form method="post">
    <input type="text" name="company" id="company">
  </form>
  <div id="result"></div>
  
 </div>

 <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
  <div class="greet"> <h2>Hi, {{username}}</h2></div>
 
  <section class="portfolio">

  <div class="portfolio-section">

  </div>

  <div class="history-section">

    <h3> Recent transactions</h3>
    <table>
      <tr>
        <!-- <th>SN</th> -->
        <th>Date</th>
        <th>Scrip</th>
        <th>Credit quantity</th>
        <th>Debit quantity</th>
        <th>Remarks</th>
    </tr>

    {% for item in recent_transactions%}
  
    <tr> 
        <!-- <td>{{ loop.index }}</td> -->
        <td>{{item[1]}}</td>
        <td>{{item[0]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[5]}}</td>
    
    </tr>
   
    {% endfor%}
      
    </table>

    <a href="/all_transactions/">Show All</a>
  </div>
  </section>
  
{% endblock %}   
