.main-head{
    text-align: center;
    color: blue;
}

.base-content {
    width: fit-content;
    margin: auto;
    text-align: center;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
}