<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1 align="center">Transaction</h1>
    <table border="1">
     
      <tr>
        <th>S.N </th>
        <th>Scrip</th>
        <th>Transaction Date</th>
        <!-- <th>Credit Quantity</th> -->
        <!-- <th>Debit Quantity</th> -->
        <th>Balance After Transaction</th>
        <th>History Description</th>
      </tr>
      {% for row in transaction%}
      {% if row[0][5] != '0' %}
      <tr>
        <td>{{ row[0][0] }}</td>
        <td>{{ row[0][1] }}</td>
        <td>{{ row[0][2] }}</td>
        <!-- <td>{{ row[0][3] }}</td> -->
        <!-- <td>{{ row[0][4] }}</td> -->
        <td>{{ row[0][5] }}</td>
        <td>{{ row[0][6] }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
</body>
</html>